
name: CI
on:
  push:
    branches: [ main ]

jobs:
  build:
    # WE CHANGED THIS: Force Ubuntu 22.04 (Stable for Android NDK)
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      # Setup Java 17 (Required for Android builds)
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Buildozer
        run: pip install buildozer cython==0.29.33

      - name: Install Linux Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential git python3 \
            python3-dev ffmpeg libsdl2-dev libsdl2-image-dev \
            libsdl2-mixer-dev libsdl2-ttf-dev libportmidi-dev \
            libswscale-dev libavformat-dev libavcodec-dev \
            zlib1g-dev libgstreamer1.0 \
            gstreamer1.0-plugins-base gstreamer1.0-plugins-good \
            libffi-dev libssl-dev autoconf libtool

      - name: Build APK
        run: |
          # We use 'yes' to automatically accept the SDK license
          yes | buildozer android debug

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
